:root
{
	--background-accent: #faebd7;
	--primary-accent: #ff8800;
	--input-size: 2em;

	--adaptive-font-rule: calc(16px + 8 * (100vw / 1280));
	--standart-media-screen-threshold: 980px;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	accent-color: var( --primary-accent );
}
body 
{
	background-color: var(--background-accent);
  	font-family: sans-serif;	
	min-height: 100lvh;
	display: flex;
	flex-direction: column;

	font-size: var( --adaptive-font-rule );
	overflow: overlay;
}

input 
{
	--_size: var(--input-size, 1em);
	font-size: var(--_size);
	outline: none;
	border: min(1px, 0.1em) solid currentColor;
	padding-block: 0.5em;
	padding-inline: 1em;
	border-radius: 0.5em;
	background: none;
}

h1, h2, h3, h4, h5, h6
{
	padding-top: 1vh;
	margin-block: 0.3em;
	line-height: 1.5;
}

a
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover
{
    text-decoration: underline;
}